
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* End extract */
html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}
.text-justify{
    text-align: justify !important;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.ncss-border{
    border: 1px solid #ccc !important
}
.ncss-border-blue{
    border: 1px solid #2595F8 !important;

}
.ncss-border-bottom{
    border-bottom: 1px solid #ccc !important
}
.ncss-bg-white{
    background: #fff !important;
    color: #000 !important;
}

.ncss-center{
    text-align: center !important;
    display: inline-block;
    margin: 0 auto;
    float: none !important;
}
.ncss-margin-bottom{
    margin-bottom:15px !important;
}


.ncss-container {
    padding: 5px 5px 5px;
}


.ncss-container:after, .ncss-container:before, .ncss-panel:after, .ncss-panel:before, .ncss-row:after, .ncss-row:before, .ncss-row-padding:after, .ncss-row-padding:before,
.ncss-block:after,.ncss-block:before{
    content: "";
    display: table;
    clear: both
}
.ncss-panel {
    padding: 0.01em 16px
}
.ncss-block{
    padding: 20px;
}
.ncss-block-success{
    background: #F0F8FF;
    padding:20px;
}
.ncss-panel {
    margin-top: 16px;
    margin-bottom: 16px
}
.ncss-margin-zero{
    margin-bottom: 0px;
    margin-top: 0px;
}
.ncss-block-medium{
    padding:5px 3px 5px;
}
.ncss-text-success{
    color: #4CAF50;
}
.ncss-text-danger{
    color: #e91e63;
}
.ncss-btn-standard{
    border-radius: 4px;
    padding: 1px 10px;
}
.ncss-btn-mobile{
    min-width: 200px;
    border-radius: 4px;
    padding:5px;
}


.ncss-row-padding,.ncss-row-padding > .ncss-col {
    padding: 0 8px
}
.form-group label.control-label{
    float: right !important;
}
.ncss-col{
    float: left;
    width: 100%;
}

.ncss-col.s1 {
    width: 8.33333%
}

.ncss-col.s2 {
    width: 16.66666%
}

.ncss-col.s3 {
    width: 24.99999%
}

.ncss-col.s4 {
    width: 33.33333%
}

.ncss-col.s5 {
    width: 41.66666%
}

.ncss-col.s6 {
    width: 49.99999%
}

.ncss-col.s7 {
    width: 58.33333%
}

.ncss-col.s8 {
    width: 66.66666%
}

.ncss-col.s9 {
    width: 74.99999%
}

.ncss-col.s10 {
    width: 83.33333%
}

.ncss-col.s11 {
    width: 91.66666%
}

.ncss-col.s12 {
    width: 99.99999%
}

.ncss-input {
    padding:0px 5px;

    display: block;
    width: 100%;
    height: 34px;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ncss-input:focus, .ncss-texarea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.ncss-btn {
    border: none;
    display: inline-block;
    outline: 0;
    /*padding: 8px 16px;*/
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}
.ncss-text-primary{
    color: #2595F8;
}
.ncss-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.ncss-texarea{
    width:100%;
}
.ncss-texarea-jumbo{
    line-height:100px;

}
.ncss-btn-jumbo {
    padding:20px 5px;
    font-size: 18px !important;
    margin: 10px;
}
.ncss-green {
    background: #4CAF50;
    color: #fff;
}
.ncss-blue{
    background: #2595F8;
    color: #fff;
}
.ncss-default{
    background: #E8E8E8;
}

.ncss-pull-left{
    float: left;
}
.ncss-pull-right{
    float: right;
}
.ncss-check, .ncss-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.ncss-control-label{
    float: right;
}
@media (min-width: 601px) {
    .ncss-col.m1 {
        width: 8.33333%
    }

    .ncss-col.m2 {
        width: 16.66666%
    }

    .ncss-col.m3 {
        width: 24.99999%
    }

    .ncss-col.m4{
        width: 33.33333%
    }

    .ncss-col.m5 {
        width: 41.66666%
    }

    .ncss-col.m6{
        width: 49.99999%
    }

    .ncss-col.m7 {
        width: 58.33333%
    }

    .ncss-col.m8{
        width: 66.66666%
    }

    .ncss-col.m9{
        width: 74.99999%
    }

    .ncss-col.m10 {
        width: 83.33333%
    }

    .ncss-col.m11 {
        width: 91.66666%
    }

    .ncss-col.m12 {
        width: 99.99999%
    }
    .ncss-col.offset-m2{
        margin-left: 16.66666%;
    }
    .ncss-col.offset-m3{
        margin-left: 24.99999%;
    }
    .ncss-col.offset-m4{
        margin-left: 33.3333%;
    }
    .ncss-col.offset-m6{
        margin-left: 49.99999%;
    }
}
@media (min-width: 993px) {
    .ncss-col.l1 {
        width: 8.33333%
    }

    .ncss-col.l2 {
        width: 16.66666%
    }

    .ncss-col.l3 {
        width: 24.99999%
    }

    .ncss-col.l4 {
        width: 33.33333%
    }

    .ncss-col.l5 {
        width: 41.66666%
    }

    .ncss-col.l6 {
        width: 49.99999%
    }

    .ncss-col.l7 {
        width: 58.33333%
    }

    .ncss-col.l8 {
        width: 66.66666%
    }
    .ncss-col.offset-l2{
        margin-left: 16.66666%;
    }
    .ncss-col.offset-l3{
        margin-left: 24.99999%;
    }

    .ncss-col.offset-l4{
        margin-left: 33.3333%;
    }
    .ncss-col.offset-l6{
        margin-left: 49.99999%;
    }

}
@media all and (max-width: 610px) {
.ncss-control-label{
    float: left;
}
    .ncss-block-success{
        background: #F0F8FF;
        padding:5px 0px;
    }
    .ncss-row-padding{
        padding: 1px 0px !important;
    }
    
}